<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="utiles.Listners"></listener>
    </listeners>

    <test verbose="2" preserve-order="true"
          name="C:/Users/rajavenkatasaikiran_/IdeaProjects/TestAutomation/src/test/java/base/fbLaunch.java">
        <parameter name="browserName" value="chrome"></parameter>
        <classes>
            <class name="base.fbLaunch">
                <methods>
                    <include name="fb_log1"/>
                    <include name="fb_log2"/>
                    <include name="fb_log3"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>